.containerLinha{
    display: flex;
    color: white;
    padding: 2.5em 5em;
}

.container{
    width: 50%;
    margin: 0em 1em;
    text-align: center;
}

.cards{
    margin-bottom: 1em;
    padding: 0.5em 1.5em 4em 1.5em;
    background-color: var(--roxoFundoEscuro);
    border-radius: 25px;
}

.paragrafoContato{
    text-align: center;
    font-size: 21px;
    line-height: 30px;
}

.span{
    font-weight: 600;
}

.imagem{
    width: 400px;
}

.input{
    border: solid 1px var(--branco);
    margin-top: 1.5em;
    width: 90%;
    padding: 1em;
    background-color: var(--roxoFundo);
    border-radius: 25px;
    font-size: 16px;
}

.btnEnviar{
    border: solid 1px var(--branco);
    color: var(--branco);
    margin-top: 1.5em;
    padding: 1em 5em;
    background-color: var(--roxoFundo);
    border-radius: 25px;
    font-size: 17px;
    font-weight: 500;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--branco);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--branco);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--branco);
  }