:root{
  --fonte: 'Montserrat', sans-serif;
  --branco: #FFFFFF;
  --roxoEscuro: #000017;
  --roxoFundo: #3B3651;
  --roxoFundoEscuro: #1E1B34;
}

body {
  margin: 0;
  font-family: var(--fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
