.titulo {
    text-align: start !important;
    color: var(--branco);
}

.linha {
    display: flex;
    justify-content: space-between;
}

.divSidebar {
    width: 20%;
    background-color: var(--roxoFundoEscuro);
    border-bottom-right-radius: 25px;
}

.divAnimais {
    width: 100%;
    padding: 1em;
}

.cardsDisponiveis {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.divTitulo {
    color: var(--branco);
    display: flex;
    justify-content: space-between;
}

.accordionItem {
    padding: 1.5em 1em;
    border-bottom: solid 2px var(--roxoEscuro);
    border-bottom-right-radius: 25px;
}

.accordionItem>input {
    display: none;
}

.accordionItem>label {
    display: flex;
    cursor: pointer;
    color: var(--branco);
    font-size: 24px;
    font-weight: 500;
    justify-content: space-between;
}

.accordionContent {
    justify-content: space-between;
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

[id^=accordion]:checked~.accordionContent {
    height: 100%;
}

.iconSeta {
    filter: invert(1);
    width: 20px;
}

.itemAccordion {
    color: var(--branco);
    font-size: 17px;
    padding: .25em .5em;
}

.itemAccordion>input {
    margin-right: 1em;
    transform: scale(1.5);
}

article {
    color: var(--branco);
    position: relative;
    margin: 5px;
    width: 80px;
    height: 40px;
    float: left;
    border: 2px solid #50bcf2;
    box-sizing: border-box;
}

article div {
    display: flex;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:checked~div {
    background-color: #50bcf2;
}

.upgrade-btn {
    display: block;
    margin: 30px auto;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid #50bcf2;
    border-radius: 50px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
}

.upgrade-btn:hover {
    background-color: #50bcf2;
}

.blue-color {
    color: #50bcf2;
}

.gray-color {
    color: #555;
}

.social i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

@keyframes slidein {
    from {
        margin-top: 100%;
        width: 300%;
    }

    to {
        margin: 0%;
        width: 100%;
    }
}